Employee_System/Employee_System/Web.config
Employee_System/Employee_System.v11.suo
Employee_System/Employee_System/obj/Debug/Employee_System.csprojResolveAssemblyReference.cache
Employee_System/Employee_System/obj/Debug/Employee_System.pdb
Employee_System/Employee_System.v11.suo
Employee_System/Employee_System/bin/Employee_System.dll
*.suo
*.dll
*.dll
Employee_System/Employee_System/bin/Employee_System.pdb
*.cache
Employee_System/EMSMethods/obj/Debug/EMSMethods.csprojResolveAssemblyReference.cache
*.txt
Employee_System/Employee_System/Web.config
*.pdb
Employee_System/EMSDomain/obj/Debug/EMSDomain.csproj.FileListAbsolute.txt
*.dll